.mrl-main {
  /* margin-left: 1rem; */

  /* background-color: aqua; */
}

.mrl-button {
  width: 100%;
  display: flex;
  position: relative;
  /* background-color: #0f172a33; */
  justify-content: space-between;
  /* margin-bottom: 1rem; */
  /* background-color: aqua; */
}
.mrl-button button {
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  margin: 4px;
  padding: 8px;
  border: 1px solid #9196a5;
  font-weight: 200;
  background-color: #0f172a33;
}
.mrl-button :hover {
  /* background-color: #00b395; */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.mrl-button:focus {
  outline: none; /* Remove default focus outline */
  /* box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); Add custom focus ring */
}

.btn-m {
  /* padding: "11px"; */
  height: 41px;
  margin: 4px;
}

.btn-m button {
  font-size: 4px;
  font-weight: 1rem;
}
.fontEdit {
  background: #64748b;
  padding: 8px;
  border: 1px solid #9196a5;
  border-radius: 7px;
}
