.lp_Main {
  width: 100%;
  margin-top: 1rem;
}

.lucky-plyer-main {
  background-color: #443135;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border: 1px solid #9196a5;
  color: #f1f1f1;
  margin-top: 1.5rem;
}

.lp_main2 {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 12px 12px 0 0;
  padding: 10px 20px;
  justify-content: end;
}

.LP_Main3 {
  position: relative;
  background-color: #443135;
  border: 1px solid #9196a5;
  border-bottom: none;
  border-radius: 12px 12px 0 0;
  width: 170px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  position: absolute;
  top: -5px;
  left: 0px;
  margin-top: 0.5rem;
}

.lp-main4 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #f8fafa;
}

.lp_p {
  font-size: 12px;
  font-weight: 600;
  gap: 1rem;
}

/* Add this to your CSS file */
.scrollable-content {
  /* height: 300px; Adjust this height as needed */
  overflow-y: auto;
}

thead {
  position: sticky;
  top: 0;
  background: transparent;
  backdrop-filter: blur(7px);

  z-index: 1; /* Ensure the header stays above the table rows */
}

.lucky-plyerUpper {
  padding: 4px;
  display: flex;
  gap: 6px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
  padding: 8px;
  background-color: #ad9da04f;
}

td {
  padding: 8px;
}

/* Scrollable content container */
.scrollable-content {
  max-height: 300px; /* Adjust height as needed */
  overflow-y: auto;
  /* padding: 10px; */
}

/* Custom scrollbar */
.scrollable-content::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.scrollable-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
.scrollable-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.scrollable-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}
