.button-section {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* margin: 20px 0; */
  /* width: 100%; */
}

.value-input {
  width: 59%;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding: 5px;
  background-color: #443135; /* Darker background */
  color: white;
  border: none;
}

.bt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  /* margin-left: 1rem; */
  border-radius: 16px;
  margin: 0 0 4px;
  /* width: 100%; */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  /* font-size: 1.5rem; */
  cursor: pointer;
  /* border-radius: 16px; */
  padding: 0.5rem;
  border: 1px solid #9196a5;
  font-weight: 600;
  /* background-color: #0f172a33; */
}

.other-bt {
  /* gap: 18px; */
  width: 100%;
  /* margin-left: 1rem; */
  padding: 6px;
  /* border: #0056b3 solid 1px; */
}

.bt button {
  background-color: #443135;
  color: white;
  border: none;
  font-size: 1.5rem;
}
button:hover {
  transform: scale(1.09);
}

.btn {
  width: 100%;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.btn button {
  /* margin-right: 10px; */
  /* width: 100%; */
  /* margin-left: 1rem; */
  border-radius: 10px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  /* line-height: 1.5rem; */
  cursor: pointer;
  padding: 6px;
  border: 1px solid #9196a5;
  font-weight: 600;
  background-color: #443135;
  /* background-color: #0f172a33; */
}
.btn :focus {
  outline: none; /* Remove default focus outline */
  /* box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); */
}
.btn :hover {
  transform: scale(1.05);
  background-color: #0f172a33;
}

.text-base {
  font-size: 0.6rem;
  /* height: 1rem; */
  font-weight: 700;
  /* gap: 0.5rem; */
  /* display: flex; */
  /* align-items: center; */
}
.text-base1 {
  font-size: 15px;
  /* font-weight: 700; */
}
