.w-full {
  width: 95%;
  /* height: 78%; */
  margin: 1rem;
  background-color: #443135;
  margin-top: 3rem;
  border-radius: 15px;
  border: 1px solid #9196a5;
  padding: 1rem;
  /* display: flex; */
  /* justify-content: space-between; */
}

.deshboard-upr {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid red; */
  gap: 29rem;
}
.deshboard-rocket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  color: white;
}
.deshboard-p {
  font-size: 1rem;
  font-weight: 700;
}
.num {
  color: rgb(248 250 252);
}
.button-section {
  display: flex;
}
.bt {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
  /* margin-left: 1rem; */
  border-radius: 16px;
  margin-bottom: 1rem;
  width: 100%;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 16px;
  padding: 0.5rem;
  border: 1px solid #9196a5;
  font-weight: 600;
  background-color: #0f172a33;
}

.other-bt {
  gap: 18px;
  width: 100%;
  /* margin-left: 1rem; */
  padding: 2px;
  /* border: #0056b3 solid 1px; */
}

button {
  position: relative;
  /* background-color: #fa082433; */
  justify-content: space-between;
  margin-right: 10px;
  width: 100%;
  /* margin-left: 1rem; */
  border-radius: 10px;
  margin-bottom: 0.5rem;
  /* width: 45%; */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 0.5rem;
  cursor: pointer;
  /* border-radius: 16px; */
  padding: 0.5rem;
  border: 1px solid #9196a5;
  font-weight: 200;
  background-color: #0f172a33;
}
button:hover {
  background-color: #292828;
}

.btn {
  width: 100%;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.btn :focus {
  outline: none; /* Remove default focus outline */
  /* box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); */
}
.btn :hover {
  transform: scale(1.05);
}

.text-base {
  font-size: 0.6rem;
  /* height: 1rem; */
  font-weight: 700;
  /* gap: 0.5rem; */
  /* display: flex; */
  /* align-items: center; */
}
.text-base1 {
  font-size: 1rem;
  font-weight: 700;
}
.button-fp {
}

.mrl-main {
  /* margin-left: 1rem; */

  /* background-color: aqua; */
}

.mrl-button {
  width: 100%;
  display: flex;
  position: relative;
  /* background-color: #0f172a33; */
  justify-content: space-between;
  /* margin-bottom: 1rem; */
}
.mrl-button :hover {
  /* background-color: #00b395; Darker shade on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.mrl-button:focus {
  outline: none; /* Remove default focus outline */
  /* box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); Add custom focus ring */
}

.btn-m {
  width: "100px";
  /* padding: "11px"; */
  height: 41px;
  font-size: 1rem;
  font-weight: 700;
}

.svg-logo {
  /* background-color: "gray" !important; */
  /* padding: "10px"; */
  height: 41px;

  border-radius: 0.5rem;
}

.submit-button {
  margin: 0;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 40%;
  background-color: #22c55e; /* Primary color */
  color: white; /* Text color */
  border: none; /* Remove default border */
  padding: 10px 20px; /* Padding inside the button */
  border-radius: 15px; /* Rounded corners */
  font-size: 1rem; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition for hover effects */
  font-weight: 700;
}

.submit-button:hover {
  /* background-color: #00b395; Darker shade on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.submit-button:focus {
  outline: none; /* Remove default focus outline */
  /* box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); Add custom focus ring */
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 39px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 2px solid red;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border: 1px solid #22c55e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #22c55e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #22c55e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.brdiv {
  width: 300px;
  border: 0px solid;
  /* color: white; */
  border-radius: 14px;
  padding: 0.5rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.doganbutton-main {
  /* display: "flex"; */
  /* flex-direction: column; */
  font-size: 1rem;
  font-weight: 700;
  color: white;
}

.doganbutton-slid {
  /* display: "flex" !important; */
  align-items: center;
  margin-bottom: 0.5rem;
  /* flex-direction: row; */
}
.doganbutton-slid p {
  margin-left: 1rem;
}
.dash-section {
  display: flex;
  /* position: relative; */
  justify-content: space-between;
}

/* responsive */
